# Tuples in Python

uses:
 immutable dataset

In [20]:
t = (3,3,34,5,6,7,9)

In [3]:
t.index(3)

0

In [6]:
t.count(3)

2

In [9]:
t1 = (2,4,5,6)
t2 = (7,8,9,0)

In [10]:
t1+t2

(2, 4, 5, 6, 7, 8, 9, 0)

In [17]:
l = list(t)

In [18]:
l.insert(2,"sheikh")
l

[3, 3, 'sheikh', 34, 5, 6, 7, 9]

In [19]:
tuple(l)

(3, 3, 'sheikh', 34, 5, 6, 7, 9)

# Set in Python

uses:
1. Allow only unique elements
2. remove duplicates

In [24]:
s = set([1,1,1,2,2,3,3,4,4,True,5+7j,False,"sheikh"])
s

{(5+7j), 1, 2, 3, 4, False, 'sheikh'}

In [27]:
for i in s:
    print(i)

False
1
2
3
4
sheikh
(5+7j)

In [29]:
d = set((3,3,4,5,5,5,6,6,7,7))
d.

{3, 4, 5, 6, 7}

In [33]:
k = list(d)
k[::-1]

[7, 6, 5, 4, 3]

In [36]:
a = {4,4,4,4,5,5,5}

In [37]:
type(a)

set

In [38]:
a.pop()

4

In [40]:
a.pop()

5

In [41]:
a.pop()

KeyError: 'pop from an empty set'

In [43]:
# sorted by default  -looks like it gives sorted view but it is ordered view (set is unorded collection)
b = {4,4,5,5,6,6,6,7,7,7,2,1,1,0,33,32,33,23,33,44,"aa","ss","ddsf","sheikh", "aslam"}
b

{0, 1, 2, 23, 32, 33, 4, 44, 5, 6, 7, 'aa', 'aslam', 'ddsf', 'sheikh', 'ss'}

In [45]:
for j  in b:
    print(j)

0
1
2
33
4
5
6
7
32
aslam
44
ss
sheikh
23
aa
ddsf

In [46]:
c = set(range(20))
c

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [47]:
list(c)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

# distionary in Python

uses: Map type structure

In [53]:
d = {"name":"aslam","surname":"ahmed", "name":"sheikh"}
type(d)

dict

In [54]:
d

{'name': 'sheikh', 'surname': 'ahmed'}

In [55]:
# duplicate keys not allowed
# special character are not allowed as key but as string

In [56]:
# vlaue as list
k = {"list":[1,2,3,4,5,[33,34,35]], "tuple":(3,3,5,6), "set":{2,3,3,4,5,5}, "map":{"x":1,"y":2}}

In [57]:
k

{'list': [1, 2, 3, 4, 5, [33, 34, 35]],
 'tuple': (3, 3, 5, 6),
 'set': {2, 3, 4, 5},
 'map': {'x': 1, 'y': 2}}

In [58]:
# index based operation not allowed
k[0]

KeyError: 0

In [59]:
k["list"]

[1, 2, 3, 4, 5, [33, 34, 35]]

In [61]:
k["list"][5][2]

35

In [63]:
type(k["map"])

dict

In [64]:
k["map"]["y"]

2

In [65]:
for i in k:
    print(i)

list
tuple
set
map

In [67]:
for i in k:
    print(i, k[i])

list [1, 2, 3, 4, 5, [33, 34, 35]]
tuple (3, 3, 5, 6)
set {2, 3, 4, 5}
map {'x': 1, 'y': 2}

In [68]:
# get all key
k.keys()

dict_keys(['list', 'tuple', 'set', 'map'])

In [69]:
# get all values
k.values()

dict_values([[1, 2, 3, 4, 5, [33, 34, 35]], (3, 3, 5, 6), {2, 3, 4, 5}, {'x': 1, 'y': 2}])

In [75]:
m= []
for i in k.values():
    if type(i) == tuple :
        for j in i:
            m.append(j)

In [76]:
m

[3, 3, 5, 6]

In [77]:
k["String"]= "this is string"

In [78]:
k

{'list': [1, 2, 3, 4, 5, [33, 34, 35]],
 'tuple': (3, 3, 5, 6),
 'set': {2, 3, 4, 5},
 'map': {'x': 1, 'y': 2},
 'String': 'this is string'}

In [79]:
k["String"]= "this is new string"

In [80]:
k

{'list': [1, 2, 3, 4, 5, [33, 34, 35]],
 'tuple': (3, 3, 5, 6),
 'set': {2, 3, 4, 5},
 'map': {'x': 1, 'y': 2},
 'String': 'this is new string'}

In [84]:
d ={}
for i in range(10):
    d[i] = i * i
    
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [88]:
l = ["abc","hhd","HDD","xyz"]

In [91]:
 n = {}
for i in l:
    n[i]= i.upper()
n

{'abc': 'ABC', 'hhd': 'HHD', 'HDD': 'HDD', 'xyz': 'XYZ'}

In [93]:
# dist comprehension
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [94]:
n.items()

dict_items([('abc', 'ABC'), ('hhd', 'HHD'), ('HDD', 'HDD'), ('xyz', 'XYZ')])

# functions in Python

 useage : 
 1. it is used for reusability(increase re usability)
 2. make code more modulerise

In [98]:
# example
def test():
    pass

In [100]:
# call function
test()

In [102]:
# return type
type(test())

NoneType

In [104]:
for i in range(1,10,2):
    pass

In [108]:
def testFun():
    a = 3
    b = 7
    print("this is testFun", a+b)

In [109]:
testFun()

this is testFun 10

In [110]:
type(testFun())

this is testFun 10

NoneType

In [111]:
def testFun2():
    a = 3
    b = 7
    print(a+b)

In [112]:
b = testFun2()

10

In [113]:
b+1

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [115]:
# with return statement
def testFun3():
    a = 3
    b = 7
    return a+b

In [117]:
c = testFun3()

In [118]:
c + 1

11

In [119]:
# with arguments
def testFun4(a,b):
    return a+b

In [123]:
# pass integer
h =testFun4(4,6)

In [124]:
type(h)

int

In [122]:
# pass string
y = testFun4("sheikh ","aslam")

In [125]:
type(y)

str

In [126]:
y.upper()

'SHEIKH ASLAM'

In [128]:
# pass list
z = testFun4([3,4,6,7,5],[1,2,8,9])
z

[3, 4, 6, 7, 5, 1, 2, 8, 9]

In [129]:
type(z)

list

In [130]:
# multiple return type
def testFun5(a,b):
    return a+b, a* b

In [131]:
x,y = testFun5(3,5)

In [132]:
print(x, y)

8 15

In [134]:
# multiple varible in one line
a,b,c,d = 2,4,6,"sjs"

In [135]:
d

'sjs'

In [136]:
# default values
def testFun6(a,b="ss"):
    return a+b

In [137]:
testFun6("djld")

'djldss'